<div class="container">
  <form
  id="add-concert-form"
  [formGroup]="addConcertForm"
  (ngSubmit)="addConcert()"
>
  <input formControlName="concertName" placeholder="Concert Name*" />
  <textarea
    formControlName="concertDescription"
    placeholder="Concert Description*"
  >
  </textarea>
  <input
    formControlName="bandsNames"
    placeholder="Bands Names * (separated by semicolon)"
  />
  <input
    formControlName="musicGenres"
    placeholder="Music Genres * (separated by semicolon)"
  />
  <input formControlName="locationName" placeholder="Location Name *" />
  <input formControlName="locationAddress" placeholder="Location Address *" />
  <div class="date-pick">
    <input
      formControlName="concertDate"
      matInput
      [matDatepicker]="picker"
      placeholder="Date *"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>

  <input formControlName="concertEvent" placeholder="Facebook Event" />
  <input formControlName="concertTickets" placeholder="Tickets Link" />


  <p style="color:red; text-align: center"> NOTE: All fields with * must be completed!</p>
  <button mat-raised-button color="primary" type="submit">Add Concert</button>
</form>

</div>
