<form id="add-concert-form" [formGroup]="addConcertForm" (ngSubmit)="addConcert()">
    <input formControlName="concertName" placeholder="Concert Name" />
    <input formControlName="concertDescription" placeholder="Concert Description" />
    <input formControlName="bandsNames" placeholder="Bands Names (separated by semicolon)" />
    <input formControlName="musicGenres" placeholder="Music Genres (separated by semicolon)" />
    <input formControlName="locationName" placeholder="Location Name" />
    <input formControlName="locationAddress" placeholder="Location Address" />
    <input
      formControlName="concertDate"
      matInput
      [matDatepicker]="picker"
      placeholder="Date"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <input formControlName="concertEvent" placeholder="Facebook Event" />
    <input formControlName="concertTickets" placeholder="Tickets Link" />
  
    <button type="submit">Add Concert</button>
  </form>