<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>

<div class="container">
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input placeholder="Email" type="email" formControlName="email" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          placeholder="Password"
          type="password"
          formControlName="password"
          minlength="6"
        />
      </mat-form-field>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Log me in
      </button>
    </div>
  </form>

  <p>
    Go back to
    <span routerLink="../signup">Sign up</span>
  </p>
</div>
