<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<div class="container">
  <h1>Upcoming concerts:</h1>
  <div class="all-concerts-div" *ngFor="let concert of allConcerts">
    <div class="card-div" *ngIf="notExpired(concert.concertDate)">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="font-weight: bold">
            {{ concert.name }}
          </h4>
          <h5 class="card-subtitle mb-2 text-muted">
            {{ concert.concertDate }}
          </h5>
          <h5 class="card-subtitle mb-2">
            {{ concert.locationName }}: {{ concert.locationAddress }}
          </h5>
          <p class="card-text">{{ concert.description }}</p>
          <div class="lists-elem">
            <h5 style="font-weight: bold">Bands:</h5>
            <ul
              class="list-group list-group-flush"
              *ngFor="let band of concert.band_names"
            >
              <li class="list-group-item">{{ band }}</li>
            </ul>
            <h5 style="font-weight: bold">Music genres:</h5>
            <ul
              class="list-group list-group-flush"
              *ngFor="let genre of concert.music_genres"
            >
              <li class="list-group-item">{{ genre }}</li>
            </ul>
          </div>
          <div class="c-links">
            <div *ngIf="concert.concertEvent.length > 0">
              <a href="{{ concert.concertEvent }}" class="card-link"
                ><button class="btn btn-primary">Facebook Event</button></a
              >
            </div>
            <div *ngIf="concert.concertEvent.length > 0">
              <a href="{{ concert.concertTickets }}" class="card-link"
                ><button class="btn btn-success">Buy Tickets</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
