.all-concerts-div {
  text-align: center;
}

.container {
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.card {
  border-radius: 25px;
  border: 2px solid darkred;
  padding: 20px;
  width: 100%;
  height: 30%;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

button {
  margin: 10px 10px 10px 10px;
}
